<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.williamwu.springdb.servicestudent.mapper.StudentMapper">
    <resultMap id="ResultMap" type="Student" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="student_name" property="studentName" jdbcType="VARCHAR" />
        <result column="student_age" property="age" jdbcType="INTEGER" />
        <result column="student_gender" property="gender" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="getAll" resultMap="ResultMap">
        SELECT * FROM student
    </select>
    <select id="get" parameterType="Student" resultMap="ResultMap">
        SELECT * FROM student
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="studentName != null">AND student_name = #{studentName}</if>
            <if test="age != null">AND student_age = #{age}</if>
            <if test="gender != null">AND student_gender = #{gender}</if>
        </where>
    </select>
    <insert id="insert" parameterType="Student">
        INSERT INTO student (create_time, student_name, student_age, student_gender)
        VALUES (now(), #{studentName}, #{age}, #{gender})
    </insert>
    <update id="update" parameterType="Student" >
        UPDATE student SET
        <if test="studentName != null">student_name = #{studentName},</if>
        <if test="age != null">student_age = #{age},</if>
        <if test="gender != null">student_gender = #{gender},</if>
        modify_time = now()
        WHERE
        id = #{id}
    </update>
    <delete id="delete" parameterType="Student">
        DELETE from student
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="studentName != null">AND student_name = #{studentName}</if>
            <if test="age != null">AND student_age = #{age}</if>
            <if test="gender != null">AND student_gender = #{gender}</if>
        </where>
    </delete>
</mapper>