<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="entity.Subject" alias="Subject"/>
        <typeAlias type="entity.Teacher" alias="Teacher"/>
        <typeAlias type="entity.Schedule" alias="Schedule"/>
        <typeAlias type="java.lang.String" alias="String"/>
        <typeAlias type="java.util.List" alias="List"/>
    </typeAliases>
</configuration>